#macro(includeTags, $tags, $rerun)

<div class="tags indention">
  #if (!$tags.isEmpty())
    <b>Tags:</b>
    #foreach($tag in $tags)
       #if ($tag.isTestRailTag())
         <a href="$tag.getTestRailUrl()">$tag.getName()</a>
       #else
         <a href="$tag.getFileName()">$tag.getName()</a>
       #end
    #end
  #end
  <span style="color:red">$rerun</span>
</div>

#end
